.board
    width: 1200px
    margin: 0 auto
    border: 2px solid black
    padding: 20px 10px
    border-radius: 10px
    display: grid
    grid-template-columns: 31% 31% 31%
    gap: 30px
    justify-content: center
    min-height: 100px
    &__column
        position: relative
        &::after
            position: absolute
            content: ""
            width: 2px
            min-height: 95%
            background-color: grey
            top: 5%
            left: calc(100% + 13px)
        &:last-child
            &::after
                content: ""
                visibility: hidden
        &__heading
            text-align: center
        &__item
            border: 2px solid black
            display: flex
            justify-content: space-between
            align-items: center
            padding: 15px
            border-radius: 10px
            margin-top: 20px
            font-size: 18px
            cursor: pointer
            &-title
                width: 30%
                overflow-wrap: break-word
            &-body
                width: 70%
                border-left: black solid 2px
                overflow-wrap: break-word
                padding-left: 10px