.ticket__list
    width: 1200px
    margin: 0 auto
    padding: 0 20px 20px 20px
    border: black solid 2px
    border-radius: 10px
    display: flex
    justify-content: space-between
    flex-direction: column
    min-height: 85px
    font-size: 18px
    &__item
        border: 2px solid black
        display: flex
        justify-content: space-between
        align-items: center
        padding: 15px
        border-radius: 10px
        margin-top: 20px
        text-align: center
        min-height: 85px
        // background: linear-gradient(90deg, rgba(207,202,34,1) 0%, rgba(182,95,28,1) 100%)
        &-title
            width: 20%
            padding: 0 10px
        &-body
            width: 60%
            border-right: solid black 2px 
            border-left: solid black 2px 
            overflow-wrap: break-word
            padding: 0 10px
        &-status
            width: 10%
            border-right: solid black 2px 
            cursor: pointer
            padding: 0 5px
        &-icons
            display: flex
            width: 10%
            height: 100%
            justify-content: space-around
            align-items: center
            img
                width: 25px
                height: 25px
                cursor: pointer

.taskHeader
    width: 1200px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-around

.titleText, .titleBody
    width: 450px
    height: 50px
    font-size: 18px
    margin: 15px
    border: solid black 2px
    outline: none
    padding: 0 15px
    border-radius: 10px

.deleteContainer
    display: flex

    //to do orange
        //progress green
            //done yellow